name: karan-github-actions
on:
  pull_request:
    types: opened
    branches: main
  workflow_dispatch:
env:
  LOG_LEVEL: debug
  APPLICATION_ENV: prod
jobs:
  first-job:
    runs-on: ubuntu-latest
    env:
      DB_PORT: 8080
    steps:
    - name: just checking
      run: pwd
    - name: creating file
      run: echo "123" > abc.txt
    - name: Reading file
      run: cat ./abc.txt
    - name: pulling code
      uses: actions/checkout@v3
    - name: running Script
      run: sh ./testing.sh
    - name: printing the env variables
      if: ${{ env.LOG_LEVEL == 'debug' }}
      run: echo "${{ env.APPLICATION_ENV }}"
    - name: printing job specific env variable
      run: echo "${{ env.DB_PORT }}"
  second-job:
    runs-on: ubuntu-latest
    needs: first-job
    steps:
    - name: printing the env variable in this step
      env:
        DB_PASSWORD: 123
      run: echo "${{ env.DB_PASSWORD }}"
