name: karan-github-actions
on:
  pull_request:
    types: [opened,closed,assigned]
    branches: [main]
  workflow_dispatch:
  workflow_run:
    workflows: ["testing"]
    types: [completed]
  schedule:
  - cron: '0 0 * * 1'
  push:
    branches:
    - main
    - 'feat/**'
    tags:
    - '1.**'
    paths-ignore:
    - 'src/**'
env:
  LOG_LEVEL: debug
  APPLICATION_ENV: prod
jobs:
  first-job:
    outputs:
      output1: ${{ steps.STEP1.outputs.abc }}
    environment: development
    runs-on: ubuntu-latest
    env:
      DB_USERNAME: ${{ secrets.DB_USERNAME }}
      DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
      DB_NAME: ${{ vars.DB_NAME }}
      DB_PORT: ${{ vars.DB_PORT }}
    steps:
    - name: just checking
      run: pwd
    - name: printing the path
      run: pwd && ls -lrt
    - name: pulling code
      uses: actions/checkout@v3
    - name: creating file
      run: echo "123" > abc.txt
    - name: Reading file
      run: cat ./abc.txt
    - name: running Script
      run: sh ./testing.sh
    - name: printing the env variables
      if: ${{ env.LOG_LEVEL == 'debug' }}
      run: echo "${{ env.APPLICATION_ENV }}"
    - name: printing the environment related username
      run: echo "${{ env.DB_USERNAME }}"
    - name: printing the environment related password
      run: echo "${{ env.DB_PASSWORD }}"
    - name: printing the environment related variable
      run: echo "${{ env.DB_NAME }}"
    - name: printing the env related variable
      run: echo "${{ env.DB_PORT }}"
    - name: uploading the artifcat
      uses: actions/upload-artifact@v4
      with:
        name: karandeep-artifact
        path: ./abc.txt
        retention-days: 1
    - name: testing the things for output
      id: STEP1
      run: echo "abc=123" >> $GITHUB_OUTPUT
    - name: Testing the Cache
      id: npm-cache
      uses: actions/cache@v4
      with:
        path: ~/.npm
        key: testing-${{ hashFiles('**/package-lock.json') }}
    - name: Installing the dependencies
      if: ${{ steps.npm-cache.outputs.cache-hit != 'true' }}
      continue-on-error: true
      run: npm install
    - name: Install npm dependencies
      run: npm ci
      continue-on-error: true
  second-job:
    runs-on: ubuntu-latest
    needs: first-job
    steps:
    - name: printing the env variable in this step
      env:
        DB_PASSWORD: 123
      run: echo "${{ env.DB_PASSWORD }}"
    - name: downloading the artifact
      uses: actions/download-artifact@v4
      with:
        name: karandeep-artifact
    - name: testing the file
      run: cat ./abc.txt
    - name: printing the token
      continue-on-error: true
      run: ecjo "abc"
    - name: printing the whole context
      env:
        testing: ${{ toJson(github) }}
      run: echo "${{ env.testing }}"
    - name: printing the token
      run: echo "${{ secrets.GITHUB_TOKEN }}"
    - name: Checking the things again
      run: echo "${{ needs.first-job.outputs.output1 }}"
    - name: Testing the cache
      uses: actions/cache@v4
      continue-on-error: true
      id: npm-cache
      with:
        path: ~/.npm
        key: testing-${{ hashFiles('**/package-lock.json') }}
    - name: Install dependencies
      run: npm ci
      continue-on-error: true
