name: karan-github-actions
on: workflow_dispatch
jobs:
  first-job:
    runs-on: ubuntu-latest
    steps:
    - name: creating file
      run: echo "123" > abc.txt
    - name: accessing the file
      run: cat ./abc.txt
    - name: accessing the directory
      run: ls -lrt
    - name: checking out repository
      uses: actions/checkout@v3
    - name: running the script
      run: sh ./testing.sh
