name: karan-github-actions
on: workflow_dispatch
jobs:
  first-job:
    runs-on: ubuntu-latest
    steps:
    - name: writing to file
      run: echo "123" > abc.txt
    - name: fetching the content
      run: cat ./abc.txt
    - name: checking status
      run: nginx -v && systemctl status nginx
