name: karan-github-actions
on: workflow_dispatch
jobs:
  first-job:
    runs-on: ubuntu-latest
    steps:
    - name: testing
      run: echo "123" > abc.txt
    - name: testing2
      run: cat ./abc.txt
    - name: fetch repo
      uses: actions/checkout@v3
    - name: running script
      run: sh ./testing.sh
    
