name: karan-github-actions
on: workflow_dispatch
jobs:
  first-job:
    runs-on: ubuntu-latest
    steps:
    - name: printing content to file
      run: echo "123" > abc.txt
    - name: accessing content from file
      run: cat ./abc.txt
    - name: installing nginx
      run: sudo apt install nginx -y && systemctl status nginx
