name: karan-github-actions
on: workflow_dispatcher
jobs:
  first-job:
    runs-on: ubuntu-latest
    steps:
    - name: just printing
      run: echo "123"
    - name: getting machine details
      run: env && whoami && ls -lrt
