name: karan-github-actions
on: workflow_dispatch
jobs:
  first-job:
    runs-on: ubuntu-latest
    steps:
    - name: just testing the steps
      run: echo "just testing"
    - name: just testing again to be sure
      run: whoami && pwd
