name: karan-github-actions
on: workflow_dispatch
jobs:
  first-job:
    runs-on: ubuntu-latest
    steps:
    - name: testing
      run: echo "123" > abc.txt
    - name: accessing the file
      run: cat ./abc.txt
