name: karan-github-actions
on: workflow_dispatch
jobs:
  first-job:
    runs-on: ubuntu-latest
    steps:
    - name: just printing again
      run: echo "123"
    - name: getting system info
      run: pwd && ls -lrt && env && whoami
