name: reusable workflow
on:
  workflow_call:
    inputs:
      username:
        description: 'Just Testing'
        type: string
        required: true
jobs:
  testing-job:
    runs-on: ubuntu-latest
    steps:
    - name: Testing the reusable workflow
      run: echo "Hello from the reusable workflow. The value that was passed was ${{ inputs.username }}"
